@model List<SFMvc.Models.Show>

<ul>
    @foreach (var item in Model)
    {
        <li>
            <h1>@item.Title</h1>
            <h2>@item.Description</h2>
            <h2>@item.Format</h2>
            <img src="@item.ImageUrl" style="height:200px;" />
            <img src="@item.LogoUrl" style="height:50px;" />

        </li>
    }
</ul>
