@model DetailsVM


<h1 style="color:white">@Model.Show.Title</h1>
<p style="color:white">@Model.Show.Description</p>
<p style="color:white">@Model.Show.Format</p>
<img style="width: 500px;" src="~/Images/@Model.Show.ImageUrl" />
<img src="~/Images/@Model.Show.LogoUrl" />
<ul>
    @if (Model.Comments != null)
    {
        @foreach (var item in Model.Comments)
        {
            <li>
                <div style="color:white">
                    @item.Text
                </div>
            </li>
        }     
    }
</ul>
<form asp-controller="Home" asp-action="SaveComment" asp-route-id="@Model.Show.Id">

    <h3>Write your Comment</h3>
    <input asp-for="Text" placeholder="write your comment here" />
    <span asp-validation-for="Text"></span>
    <input type="submit" value="Post" />
    
</form>