@{
    ViewBag.Title = "Product";
}

@model IndexVM[]

<input type="text" id="searchText" placeholder="Search by Title..." onkeyup="search()">
<button onclick="search()">Search</button>

<div id="searchResults" style="display:flex; flex-wrap: wrap; justify-content: center;">

</div>

<div id="noResultsMessage" style="display: none;">No matching results found.</div>

<script>
    function search() {
        var searchText = document.getElementById("searchText").value.toLowerCase();
        var searchResultsContainer = document.getElementById("searchResults");
        var noResultsMessage = document.getElementById("noResultsMessage");
        searchResultsContainer.innerHTML = "";
        noResultsMessage.style.display = "none";

        var resultsFound = false;

    @foreach (var item in Model)
    {
        <text>
                if ("@item.Title".toLowerCase().includes(searchText)) {
                resultsFound = true;
                searchResultsContainer.innerHTML += `
                           <div class="card" style="width: 18rem;">
                              <img src="/Images/@item.ImageUrl" class="card-img-top" alt="An image of the movie @item.Title">
                              <div class="card-body" style="display: flex; flex-direction: column;">
                                <h2 class="card-title">@item.Title</h2>
                                <p class="format">@item.Format</p>
                                <p class="card-text" style="flex-grow: 1;">@item.Description</p>
                                <div style="display: flex; justify-content: space-between; align-items: center;">
                                    <img src="/Images/@item.LogoUrl" style="height:50px;" />
                                    <a asp-controller="Home"; asp-action="AddToWatchList"; asp-route-id="@item.Id" class="btn btn-primary">Add to watch list</a>
                                </div>
                              </div>
                           </div>`;
                       }
        </text>
    }

            if (!resultsFound) {
            noResultsMessage.style.display = "block";
        }
    }

    
    search();
</script>