@{
    ViewBag.Title = "Product";
}

@model IndexVM[]


<input type="text" value="Search by Title..." />
<button >Search</button>

@*<ul>
    @foreach (var item in Model)
    {
        <li>
            <h1>@item.Title</h1>
            <h2>@item.Description</h2>
            <h2>@item.Format</h2>
            <img src="@item.ImageUrl" />
            <img src="@item.LogoUrl" />



        </li>
    }
</ul>*@
