@{
    ViewBag.Title = "Product";
}

@model IndexVM[]

<input type="text" id="searchText" placeholder="Search by Title..." onkeyup="search()">
<button onclick="search()">Search</button>

<div id="searchResults">

</div>

<div id="noResultsMessage" style="display: none;">No matching results found.</div>

<script>
    function search() {
        var searchText = document.getElementById("searchText").value.toLowerCase();
        var searchResultsContainer = document.getElementById("searchResults");
        var noResultsMessage = document.getElementById("noResultsMessage");
        searchResultsContainer.innerHTML = "";
        noResultsMessage.style.display = "none";

        var resultsFound = false;

    @foreach (var item in Model)
    {
        <text>
                if ("@item.Title".toLowerCase().includes(searchText)) {
                resultsFound = true;
                searchResultsContainer.innerHTML += `
                                <div class="row">
                                    <h1>@item.Title</h1>
                                    <h2>@item.Description</h2>
                                    <h2>@item.Format</h2>
                                    <img src="@item.ImageUrl" style="height:200px;"/>
                                    <img src="@item.LogoUrl" style="height:50px;" />
                                    <a asp-controller="Home", asp-action="AddToWatchList", asp-route-id="@item.Id">Add to watch list</a>
                                </div>`;
            }
        </text>
    }

            if (!resultsFound) {
            noResultsMessage.style.display = "block";
        }
    }

    
    search();
</script>