@model PersonalVM

@{
    ViewBag.Title = "My Page";
}


<div class="overall-container">
    <h1 style="color:#E2E3E4; margin-bottom:50px;">My Watchlist</h1>
    <div class="my-container">
    @foreach (var item in Model.MyShows)
    {
        <div class="my-col">
                <div class="card" style="box-shadow: -3px -3px 5px black;">
                <a asp-controller="Home" asp-action="Details" asp-route-id="@item.Id">
                <div class="center-cropped card-img-top" style="background-image: url('/Images/@item.ImageUrl');"></div></a>
                <div class="card-body" style="display: flex; flex-direction: column;">
                        <a asp-controller="Home" asp-action="Details" asp-route-id="@item.Id" style="text-decoration:none; color:#E2E3E4"><h2 class="card-title">@item.Title</h2></a>
                        @if (item.Format == "Serie"){<p><i> @item.NumberOfSeasons @(item.NumberOfSeasons > 1 ? "seasons" : "season")</i></p>}
                        @if (item.Format == "Miniserie"){<p><i> @item.NumberOfEpisodes episodes</i></p>}
                        @if (item.Format == "Film"){<p><i> @(item.LengthInMinutes / 60) h @(item.LengthInMinutes % 60) min</i></p>}
                    <p class="card-text" style="flex-grow: 1;"></p>
                    <div style="display: flex; justify-content: space-between; align-items: center;">
                            <a href="@item.StreamingUrl"><img src="/Images/@item.LogoUrl" class="logo-img" /></a>
                         <a asp-controller="Home" asp-action="RemoveFromWatchlist" asp-route-id="@item.Id" class="btn remove-btn">Remove from Watchlist</a>
                    </div>
                </div>
            </div>
        </div>
    }
    </div>
    
        <div style="display: flex; flex-direction: column; justify-content: space-between; margin-left:40px; width:379px;">
            <ul style="padding:0;">
                @if (Model.MyComments != null)
                {
                    @foreach (var item in Model.MyComments)
                    {
                        <li style="list-style:none;">
                            <div style="color:white">
                                @item.Title,
                                @item.Time
                                <div style="width: 379px;word-wrap: break-word; padding:10px; margin-bottom:20px; background-color:rgba(1,46,64,0.5);" class="border border-warning rounded">
                                    @item.Text
                                </div>
                            </div>
                        </li>
                    }
                }
            </ul>
            
    </div>
</div>


